a.follow-link-imdb {
  background-image: url(/sites/all/modules/follow_custom/img/icon-imdb.png);
}

a.follow-link-drupal {
  background-image: url(/sites/all/modules/follow_custom/img/icon-drupal.png);
  background-size: 30px;
}

a.follow-link-github {
  background-image: url(/sites/all/modules/follow_custom/img/icon-github.png);
  background-size: 25px;
}
